td {
  width: 300px;
  height: 300px;
  border: 10px solid black;
}

#table {
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 80px;
  margin-top: 80px;
  margin-bottom: -40px;
}

img {
  max-height: 75%;
  max-width: 100%;
  display: block;
  margin: auto;
  display: none;
}
.highlight {
  background-color: #67fc7d;
}
